absl-py==1.0.0
-e git+https://github.com/KDD-OpenSource/agots@8e75e327429dedba17e79bd074e55c46f993703a#egg=agots
arrow==1.2.2
astor==0.8.1
atomicwrites==1.4.0
attrs==21.2.0
boto3==1.21.39
botocore==1.24.39
bravado==11.0.3
bravado-core==5.17.0
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.1.2
ConfigArgParse==1.5.3
cycler==0.11.0
Donut @ git+https://github.com/korepwx/donut.git@c8a44d91f102f36ba712e1e896408337501bce9b
filelock==3.4.0
flake8==4.0.1
fonttools==4.28.3
fqdn==1.5.1
frozendict==2.1.1
future==0.18.2
gast==0.2.2
gitdb==4.0.9
GitPython==3.1.27
google-pasta==0.2.0
grpcio==1.42.0
h5py==3.6.0
idna==3.3
idx2numpy==1.2.3
importlib-metadata==4.2.0
importlib-resources==5.6.0
isoduration==20.11.0
jmespath==1.0.0
joblib==1.1.0
jsonpointer==2.3
jsonref==0.2
jsonschema==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.5
matplotlib==3.5.0
mccabe==0.6.1
mock==4.0.3
monotonic==1.6
more-itertools==8.12.0
msgpack==1.0.3
natsort==8.0.0
neptune-client==0.16.0
numpy==1.21.4
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.4
Pillow==8.4.0
pluggy==0.13.1
progressbar2==3.55.0
protobuf==3.19.1
psutil==5.9.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
PyJWT==2.3.0
pyparsing==3.0.6
pyrsistent==0.18.1
pytest==5.2.2
python-dateutil==2.8.2
python-utils==2.5.6
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
s3transfer==0.5.2
scikit-learn==1.0.1
scipy==1.7.3
semver==2.13.0
setuptools-scm==6.3.2
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
swagger-spec-validator==2.7.4
tabulate==0.8.9
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
TFSnippet @ git+https://github.com/korepwx/tfsnippet.git@ecc0b4d1e610cf8cfa8c236857a7dabee27d5543
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
typing_extensions==4.0.1
uri-template==1.2.0
urllib3==1.26.7
vulture==2.3
wcwidth==0.2.5
webcolors==1.11.1
websocket-client==1.3.2
Werkzeug==2.0.2
wrapt==1.13.3
zhusuan @ git+https://github.com/thu-ml/zhusuan.git@4386b2a12ae4f4ed8e694e504e51d7dcdfd6f22a
zipp==3.6.0
